<nav class="navbar-container">
    <div class="profile-section">
        <img src="images/profilephoto.png" alt="Profile Picture" class="profile-pic" /> 
    </div>
    <ul class="nav-links">
        <li><NavLink href="/about"><i class="fas fa-user"></i> About</NavLink></li>
        <li><NavLink href="/experience"><i class="fas fa-briefcase"></i> Experience</NavLink></li>
        <li><NavLink href="/education"><i class="fas fa-graduation-cap"></i> Education</NavLink></li>
        <li><NavLink href="/skills"><i class="fas fa-cogs"></i> Skills</NavLink></li>
        <li><NavLink href="/projects"><i class="fas fa-folder-open"></i> Projects</NavLink></li>
        <li><NavLink href="/interests"><i class="fas fa-heart"></i> Interests</NavLink></li>
        <li><NavLink href="/status"><i class="fas fa-signal"></i> Status</NavLink></li>
    </ul>
</nav>


@code {

}
